#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "UART DFU Library"

# UART DFU library configuration

config UART_DFU_LIBRARY
	bool "UART DFU library"
	depends on SERIAL
	depends on UART_ASYNC_API

config UART_DFU_SYS_INIT
	bool "Initialize the UART DFU library during system init"
	default y if BSD_LIBRARY_SYS_INIT

if UART_DFU_SYS_INIT

config UART_DFU_INIT_PRIORITY
	int "UART DFU library init priority"
	default 40

endif # UART_DFU_SYS_INIT

# FIXME: reasonable priority?
config UART_DFU_LIBRARY_THREAD_PRIO
	int "UART DFU library workqueue thread priority level"
	range 0 NUM_PREEMPT_PRIORITIES
	default 0 if !MULTITHREADING
	default 10

config UART_DFU_RESPONSE_TIMEOUT
	int "UART DFU library response timeout (ms)"
	default 10000

config UART_DFU_SEND_TIMEOUT
	int "UART DFU library send timeout (ms)"
	default 1000

module=UART_DFU_LIBRARY
module-str=UART DFU library
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"


# UART DFU host configuration

config UART_DFU_HOST
	bool "UART DFU host"
	depends on UART_DFU_LIBRARY
	depends on DFU_TARGET

config UART_DFU_HOST_MAX_FRAGMENT_SIZE
	int "UART DFU host maximum fragment size."
	default 2048

module=UART_DFU_HOST
module-str=UART DFU host 
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endmenu
