#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menu "UART BLOB transfer"
	depends on UART_COBS

config UART_BLOB
	bool
	help
	  Enabled whenever either the UART_BLOB_TX or UART_BLOB_RX modules are
	  enabled.


# UART BLOB sender configuration

config UART_BLOB_TX
	bool "UART BLOB sender"
	select UART_BLOB
	depends on UART_COBS
	help
	  Enable module for sending Binary Large OBjects (BLOBs) over UART.

if UART_BLOB_TX

config UART_BLOB_TX_SEND_TIMEOUT
	int "UART BLOB sender send timeout (ms)"
	default 1000
	help
	  Packet send timeout in milliseconds for the UART BLOB sender.

config UART_BLOB_TX_RESPONSE_TIMEOUT
	int "UART BLOB sender response timeout (ms)"
	default 10000
	help
	  Packet receive timeout in milliseconds for the UART BLOB sender.

module=UART_BLOB_TX
module-str=UART BLOB sender
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # UART_BLOB_TX


# UART BLOB receiver configuration

config UART_BLOB_RX
	bool "UART BLOB receiver"
	select UART_BLOB
	depends on UART_COBS
	help
	  Enable module for receiving Binary Large OBjects (BLOBs) over UART.

if UART_BLOB_RX

config UART_BLOB_RX_SEND_TIMEOUT
	int "UART BLOB receiver send timeout (ms)"
	default 1000
	help
	  Packet send timeout in milliseconds for the UART BLOB receiver.

config UART_BLOB_RX_RESPONSE_TIMEOUT
	int "UART BLOB receiver response timeout (ms)"
	default 10000
	help
	  Packet receive timeout in milliseconds for the UART BLOB receiver.

module=UART_BLOB_RX
module-str=UART BLOB receiver
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # UART_BLOB_RX

endmenu
